$darkBlueDark: hsl(209, 23%, 22%);
$veryDarkBlueDark: hsl(207, 26%, 17%);
$veryDarkBlueLight: hsl(200, 15%, 8%);
$darkGrayLight: hsl(0, 0%, 52%);
$darkGrayShadowLight: hsl(0, 0%, 86%);
$veryLightGrayLight: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
