@import "colors";
@import "global";

.search-country {
  position: relative;
  background: $white;
  margin: 30px 0;
  color: $darkGrayLight;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 2px $veryLightGrayLight;
  max-width: 560px;
  &-label {
    position: absolute;
    left: -10000px;
  }

  &-icon {
    font-size: 1.85rem;
    margin-left: 30px;
    margin-right: 20px;
  }

  &-input {
    width: 100%;
    border-radius: 2px;
    border: none;
    background: none;
    padding: 16px 0;
    font-family: inherit;
    font-size: 12px;
    outline: none;
  }
  @media (min-width: 500px) {
    &-input {
      font-size: 14px;
    }
  }
}
