html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-size: 14px;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-size: 14px;
}

.header {
  background: white;
  width: 100%;
  /*padding: 50px 30px;*/
  padding: 30px 15px;
  -webkit-box-shadow: 0 7px 5px 3px #fafafa;
          box-shadow: 0 7px 5px 3px #fafafa;
  font-size: 14px;
}

.header .max-width-container {
  max-width: 1283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.header-h1 {
  font-size: 16px;
  margin: 0;
}

.header-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #111517;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.header-btn-moon {
  margin-right: 5px;
  height: 100%;
  position: relative;
  top: -1px;
  font-size: 18px;
}

@media (min-width: 500px) {
  .header .header-h1 {
    font-size: 28px;
  }
  .header .header-btn {
    font-size: 17px;
  }
  .header .header-btn-moon {
    font-size: 20px;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-size: 14px;
}

.search-country {
  position: relative;
  background: white;
  margin: 30px 0;
  color: #858585;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px 2px #fafafa;
          box-shadow: 0 0 5px 2px #fafafa;
  max-width: 560px;
}

.search-country-label {
  position: absolute;
  left: -10000px;
}

.search-country-icon {
  font-size: 1.85rem;
  margin-left: 30px;
  margin-right: 20px;
}

.search-country-input {
  width: 100%;
  border-radius: 2px;
  border: none;
  background: none;
  padding: 16px 0;
  font-family: inherit;
  font-size: 12px;
  outline: none;
}

@media (min-width: 500px) {
  .search-country-input {
    font-size: 14px;
  }
}

.filter-country {
  color: #858585;
  background: white;
  position: relative;
  width: 200px;
  border-radius: 6px;
}

.filter-country-label {
  position: absolute;
  left: -10000px;
}

.filter-country-region {
  font-size: 12px;
  border: 0;
  width: 200px;
  padding: 16px 25px;
  border-right: 10px solid white;
  color: #111517;
  border-radius: 5px;
}

.filter-country-region option {
  padding: 1rem;
}

@media (min-width: 500px) {
  .filter-country-region {
    font-size: 14px;
  }
}

.search-filter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .search-filter-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search-country {
    width: 560px;
  }
  .filter-country {
    padding: 0;
    margin: 30px 0;
  }
}

.single-country-info-container {
  padding: 40px 15px;
}

.max-width-container {
  max-width: 1283px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 0 15px;
}

.countries {
  margin: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-left: auto;
  margin-right: auto;
}

.country-container {
  background: white;
  max-width: 300px;
  margin: 0 auto 0 auto;
  border-radius: 5px;
}

.country-container .country-link {
  text-decoration: none;
  color: #111517;
}

.country-container .country-link .country-img-container {
  max-width: 270px;
  max-height: 170px;
}

.country-container .country-link .country-img-container .country-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.country-container .country-link .country-info-container {
  padding: 30px 0 35px 20px;
}

.country-container .country-link .country-info-container .country-name {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

strong {
  font-weight: 600;
}

.back-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-div .back {
  text-decoration: none;
  cursor: pointer;
  color: #111517;
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px 2px #dbdbdb;
          box-shadow: 0px 0px 7px 2px #dbdbdb;
  padding: 10px 27px 10px 30px;
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-div .back .arrow-icon {
  font-size: 20px;
  margin-right: 5px;
}

.country-details-container .country-img {
  width: 100%;
  height: auto;
}

.country-details-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.country-name {
  font-size: 18px;
  margin-top: 30px;
}

.country-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*
.col-1,
.col-2 {
  margin: 40px 0;
}
*/
.border-countries-heading {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

.border-country-link {
  text-decoration: none;
  cursor: pointer;
  color: #111517;
  display: inline-block;
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px 2px #dbdbdb;
          box-shadow: 0px 0px 7px 2px #dbdbdb;
  padding: 10px 30px;
  margin: 0 0.75em 0.75em 0;
}

@media (min-width: 500px) {
  .country-name {
    font-size: 28px;
  }
  .country-img-container {
    width: 270px;
    height: 170px;
  }
  .country-img-container .country-img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
}

@media (min-width: 700px) {
  .country-info-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .country-details-container-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .country-img-container {
    max-width: 45%;
    height: 100%;
  }
  .country-img-container-single {
    width: 48%;
    height: 100%;
  }
  .country-img-container-single .country-img-single {
    display: block;
    width: 100%;
    height: 100%;
  }
  .country-details-info {
    max-width: 45%;
  }
}
/*# sourceMappingURL=styles.css.map */